@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}
.wrap {
  margin: 0 auto;
  width: 1000px;
}
.board_list {
  width: 100%;
  border-top: 1px solid black;
  border-collapse: collapse;
}
.board_list caption {
  padding: 30px;
  font-size: 2rem;
}
.board_list th,
td {
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid black;
  border-spacing: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.board_page {
  margin-top: 30px;
  text-align: right;
}
.board_page > a {
  text-align: center;
  border: 1px solid black;
  min-width: 80px;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.4rem;
  margin-left: 20px;
}
.bt_wrap {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}
.bt_wrap a {
  width: 32px;
  height: 32px;
  font-size: 1.4rem;
  line-height: 32px;
}
.bt_wrap a.bt {
  letter-spacing: 0;
}
.bt_wrap a.on {
  background: black;
  color: white;
}
@media all and (max-width: 1000px) {
  .wrap {
    width: 100vw;
  }
}
@media all and (max-width: 767px) {
  .wrap {
    width: 95vw;
  }
  .wrap .board_list {
    width: 95vw;
  }
  .board_list th:nth-of-type(1),
  td:nth-of-type(1) {
    display: none;
  }
  .board_list th:nth-of-type(3),
  td:nth-of-type(3) {
    display: none;
  }
  .board_list th:nth-of-type(4),
  td:nth-of-type(4) {
    display: none;
  }
}
